.ContactContainer{
    height: 100%;
    width: 100%;
    display: flex;
   justify-content: center;
  align-items: center;
  flex-direction: column;
}
.ContactHeadderBar{
    background-image: url("../../Assets/back_3.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 100vw;
}
.contactTxt{
    text-align:center;
    color: #000;
   font-size: 40px;
   font-weight: 500;
    font-family: 'PT Sans Narrow', sans-serif;
}
.contactImage{
    height: 80vh;
    width: 100%;
}
.contactTxtContainer{
    width: 100%;
    text-align: center;
}
.contactTec{
    font-size: 40px;
    text-align: center;
    font-weight: 500;
    font-family: "PT Sans Narrow";
}
.contactPera{
    width: 100%;
  text-align: center;
  font-size: large;
  font-weight: normal;
}
.contactFormContainer{
    height: 110vh;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.buttonBox{
    font-size: 15px; 
    padding: 10px 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: black;
    margin: 15px;
    background: transparent;
}
.leftContactBar{
    width: 50%;
    height: 100%;
    background-image: url('../../Assets//bac1.jpg');
background-size: cover;
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;

}
.rightContactBar{
    width: 50%;
    height: 100%;
}
iframe{
width: 100%;
height: 100%;
}
.imgContactContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}
.imggalleryContainer{
    width: 90%;
    /* height: 100vh; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 30px;
}
.galleryImgCon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
     width:50%; 
     height: 70%;
}
.gallerycon{
    width:100%;
    /* height:60vh; */
}
.galleryTxtContainer{
    color: #fff;
}
.galleryT{
    color: #fff;
    font-weight: normal;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
}
.galleryTT{
    color: #fff;
    font-weight: normal;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
}
.galleryPera{
    width: 80%;
    text-align: center;
    font-size: large;
    font-weight: normal;
    color: white;
    margin-left: 60px;
}
.galleryP{
    width: 80%;
    text-align: center;
    font-size: large;
    font-weight: normal;
    color: white;
    margin-left: 60px;
}
.imgConContainer{
    width: 100%;
    /* height: 40vh; */
    display: flex;justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000;
}
.contactTxt1{
    font-size: 40px;
    text-align: center;
    font-weight: 500;
    font-family: "PT Sans Narrow";  
    color: white;
}
.contactBar{
    width:80% ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}
.conatctFoamBar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contactBoxContainer{
    border: 2px solid black;
    /* padding: 10px; */
    text-align: center;
    width: 40%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px;
}
.box{
    outline: none;
    border: none;
    width: 80%;
    height: 55px;
    background: transparent;
    color: black;
    font-size: 17px;
    
}
.messageBox{
    border: 2px solid black;
    /* padding: 10px; */
    /* text-align: center; */
    width: 70%;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;

}
.messageInputType{
    outline: none;
    border: none;
    width: 100%;
    height:100%;
    
    background: transparent;
    color: black;
    font-size: 17px;

}
