
.menuMainContainer{
    width: 100%;
    height: 100vh;
    background-color: #000;
}.menuBarContainer{
   
    display: flex;
    text-shadow: white;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}
.menuHead{
    color: #fff;
    text-transform: uppercase;
    font-weight: normal;
    font-family: 'Playfair Display', serif;
}
.menuTextContainer{
 width: 50%;
  display: flex;
  text-shadow: white;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  text-align: center;
}
.txt{
    height: 20px;
    font-size: 35px;
    font-family: 'Kalnia', serif;
font-family: 'PT Sans Narrow', sans-serif;
    text-align: left;
    color: #fff;
}
.menubarImgcontainer{
    display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
    width:100%;
    margin: 5px;
    color: #fff;
    font-family: 'Kalnia', serif;
font-family: 'PT Sans Narrow', sans-serif;
}
.menuImg{
    width:70%;
    height:240px;
}
.menuTextContainer p{
    color: #fff;
    font-family: 'PT Sans Narrow', sans-serif;
    width: 100%;
}
